In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = sns.load_dataset('iris')

In [3]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
dataset["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [5]:
dataset = dataset[dataset['species'] != 'setosa']

In [6]:
dataset

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [7]:
dataset["species"].unique()

array(['versicolor', 'virginica'], dtype=object)

In [8]:
dataset["species"]=dataset["species"].map({'versicolor':0,'virginica':1})

d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
dataset["species"]

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [10]:
dataset

     sepal_length  sepal_width  petal_length  petal_width  species
50            7.0          3.2           4.7          1.4        0
51            6.4          3.2           4.5          1.5        0
52            6.9          3.1           4.9          1.5        0
53            5.5          2.3           4.0          1.3        0
54            6.5          2.8           4.6          1.5        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        1
146           6.3          2.5           5.0          1.9        1
147           6.5          3.0           5.2          2.0        1
148           6.2          3.4           5.4          2.3        1
149           5.9          3.0           5.1          1.8        1

[100 rows x 5 columns]

In [11]:
dataset["species"].unique()

array([0, 1], dtype=int64)

In [12]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [13]:
X

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [14]:
y

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [15]:
dataset.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [17]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()

In [18]:
from sklearn.model_selection import GridSearchCV

In [19]:
parameter = {'penalty': ['l1','l2','elasticnet'],'C':[0.5,1,2,3,5,10,30,45],}

In [20]:
logisticcv = GridSearchCV(logistic,parameter,scoring='accuracy',cv=5)

In [21]:
logisticcv.fit(X_train,y_train)

d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
80 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [   nan 0.9625    nan    nan 0.9625    nan    nan 0.9625    nan    nan
 0.9625    nan    nan 0.975     nan    nan 0.9875    nan    nan 0.975
    nan    nan 0.975     nan]
  category=UserWarning,

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [0.5, 1, 2, 3, 5, 10, 30, 45],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [22]:
logisticcv.best_params_

{'C': 10, 'penalty': 'l2'}

In [23]:
logisticcv.best_score_

0.9875

In [24]:
y_pred = logisticcv.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,f1_score

In [26]:
accuracy_score(y_pred,y_test)

0.9

In [27]:
confusion_matrix(y_pred,y_test)

array([[10,  0],
       [ 2,  8]], dtype=int64)

In [28]:
f1_score(y_pred,y_test)

0.888888888888889

In [29]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91        10
           1       1.00      0.80      0.89        10

    accuracy                           0.90        20
   macro avg       0.92      0.90      0.90        20
weighted avg       0.92      0.90      0.90        20